.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-header td {
    height: 50px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.table-row td {
    height: 40px;
    border-bottom: 1px solid gray;
}
